* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li,
ol li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.title {
    text-transform: uppercase;
}

main,
footer {
    overflow: hidden;
}

footer .row {
    margin-right: 0 !important;
}

footer .row>* {
    padding-right: 0 !important;
    padding-left: 0;
}

header {
    position: fixed;
    z-index: 4;
    width: 100%;
}

footer .row {
    margin-right: 0 !important;
}

.alert {
    background-color: white !important;
    border-radius: 0 !important;
    padding: 0.3rem 1rem !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #ebebeb;
}

.alert p {
    color: #626262;
    font-size: 13px;
}

.alert .form-select {
    width: 10% !important;
}

#select-lang {
    margin-right: 8.5%;
}

.offcanvas {
    flex-direction: row;
}

.offcanvas-start {
    width: 320px !important;
}

.nav-link {
    position: relative;
    color: black !important;
    font-weight: 700;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 3.76px 0.24px rgba(0, 0, 0, 0.15);
}

#plus-mobile {
    display: none;
    position: absolute;
    top: 13px;
    font-size: 18px;
    right: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0 !important;
}

.dropdown-divider {
    margin: 0.3rem 0 !important;
    border-top: 1px solid #eeeeee !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: none !important;
}

.active {
    color: #83BC2E !important;
}

#down-arrow {
    position: absolute;
    top: 13px;
    font-size: 18px;
}

.dropdown-toggle::after {
    border: none !important;
    display: none;
}

.nav-link:hover {
    color: #83BC2E !important;
}

.home {
    min-width: 14rem;
}

.home li a:hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

@keyframes scaley {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    100% {
        transform-origin: top;
        transform: scaleY(1);
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation-name: scaley;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;
}

.shop {
    position: relative;
}

.shop-dropdown {
    width: 1300px !important;
    position: absolute;
    top: 100%;
    left: -590%;
    margin: 0 auto;
}

.shop img {
    width: 550px !important;
}

.shop-dropdown ul li a:hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

.shop-dropdown ul li:first-child {
    transform: none !important;
}

#shop-static {
    transform: none !important;
}

.box1 {
    position: relative;
}

.img-cover {
    width: 550px;
    height: 97%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.img-cover1 {
    width: 550px;
    height: 97%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.box:hover .img-cover {
    visibility: visible;
    animation-name: coverscalex;
    animation-duration: 1s;
    transition-timing-function: ease;
    animation-iteration-count: 1;
}

.box:hover .img-cover1 {
    visibility: visible;
    animation-name: coverscaley;
    animation-duration: 1s;
    transition-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes coverscalex {
    0% {
        background-color: lightgrey;
        transform-origin: cemter;
        transform: scaleY(0);
        opacity: 0.5;
    }

    100% {
        background-color: lightgrey;
        transform-origin: center;
        transform: scaleY(1);
        opacity: 0.1;
    }
}

@keyframes coverscaley {
    0% {
        background-color: lightgrey;
        transform-origin: cemter;
        transform: scaleX(0);
        opacity: 0.5;
    }

    100% {
        background-color: lightgrey;
        transform-origin: center;
        transform: scaleX(1);
        opacity: 0.1;
    }
}

.about li a:hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

.about {
    min-width: 12rem !important;
}

.blog li a {
    position: relative;
}

.blog .material-symbols-outlined {
    font-size: 15px !important;
    position: absolute;
    top: 12px;
    right: 5px;
    transform: none !important;
}

.blog a:hover .blog .material-symbols-outlined {
    color: #83BC2E !important;
}

.dropdown-submenu {
    display: none !important;
}

.dropend:hover .dropdown-submenu {
    display: block !important;
    position: absolute;
    top: -7px;
    left: 100%;
}

.dropdown-submenu>li>a:hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

.blog-grid:hover a {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

.blog-grid:hover #forward-arrow {
    color: #83BC2E !important;
}

.blog-text-muted a {
    color: rgba(0, 0, 0, .55) !important;
}

.account li:hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

form {
    position: relative;
}

.form-control {
    border-radius: 25px !important;
    border: 2px solid #83BC2E;
    padding: 10px 70px 10px 20px;
    width: 500px;
}

form .btn {
    background-color: #83BC2E !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    right: 0;
    top: -1px;
    padding: 10px 20px 9px 22px;
}

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid #83BC2E;
}

input::placeholder {
    margin: 0 !important;
    padding: 0 !important;
}

.search span {
    cursor: pointer;
}

.dropstart .dropdown-toggle::before {
    border: none !important;
}

.search .dropdown:hover .dropdown-menu {
    display: none !important;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 45px !important;
    right: -48% !important;
}

.search .dropdown-menu {
    background: none !important;
    box-shadow: none !important;
}

.rounded-pill {
    border-radius: 50% !important;
}

.badge {
    width: 15px;
    height: 15px;
    padding: 0px !important;
}

.translate-middle {
    transform: translate(-85%, -70%) !important;
}

.badge-btn {
    border: none;
    outline: none;
    background: none;
}

.right .alert {
    padding: 0 !important;
    width: 400px !important;
    background-color: white !important;
}

.right .alert-dismissible .btn-close {
    padding: 25px 8px;
}

.right-alert img {
    margin-top: 45px;
    margin-left: 45px;
}

.col-quantity {
    position: relative;
}

.form-select {
    box-shadow: none !important;
    border: none;
}

.box2 {
    position: absolute;
    top: 40px;
    left: 45px;
}

.drop-alert {
    height: 300px;
    overflow-y: scroll;
}

.checkout-1 {
    margin-left: 15%;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
    padding: 8px 0;
    font-weight: 600;
}

.checkout-1:hover {
    color: white;
    background-color: #83BC2E;
    border: none;
}

.tab-version {
    display: none;
}

.account li {
    cursor: pointer;
}

.section1 .container-fluid {
    margin-top: 9%;
    background-image: url(../images/aboutus/page-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bread-crumb {
    padding: 110px 0;
}

.section1 ol li a {
    color: #253237;
}

#breadcrumb-home:hover {
    color: #83BC2E;
}

.section2 {
    padding-top: 10%;
    padding-bottom: 5%;
}

.section2 h4 {
    font-size: 32px;
    font-weight: 800 !important;
}

.section2 h5 {
    font-size: 24px;
    font-weight: 700 !important;
    color: #1d1d1d;
    margin-bottom: 15px;
}

.section2 p {
    font-size: 16px;
    color: #888888;
    font-weight: 400 !important;
}


.body{
    position: relative;
}
.footer{
    position: absolute;
    bottom: 0;
}

.footer-form {
    position: relative;
}

.footer-form input {
    color: white !important;
}

.form-btn {
    position: absolute;
    top: 0;
    right: -90px;
    font-weight: 700;
    background-color: white;
    color: black;
    border: none;
    padding: 11px 20px 11px 22px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.form-btn:hover {
    background-color: #83BC2E;
    color: white;
    transition: all 0.3s;
}

.foot-anchor a :hover {
    color: #83BC2E !important;
    transform: translateX(15px);
    transition: all 0.5s;
}

.foot-social .box {
    background-color: #343434;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.foot-social a {
    color: white;
}

.social .box:hover a {
    color: #83BC2E !important;
    transition: all 0.4s linear;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .navbar {
        background-color: white !important;
        box-shadow: 0px 2px 4.85px 0.15px rgba(0, 0, 0, 0.1);
        justify-content: center;
    }
    
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-left: 0;
    }

    footer .row {
        margin-right: 0 !important;
    }
    .row>* {
        padding-right: 0;
    }
    .para1 {
        font-size: 11px;
    }

    .material-symbols-outlined {
        font-size: 15px !important;
    }

    .offcanvas {
        flex-direction: column;
    }

    #plus-mobile {
        display: block;
    }

    #down-arrow {
        display: none !important;
    }

    .shopping img {
        height: 24px !important;
        width: 24px !important;
    }

    .shop .row {
        display: flex;
        flex-direction: column;
    }

    .shop-dropdown {
        width: 90% !important;
        position: absolute;
        top: 100%;
        left: -630%;
    }

    .tab-setting {
        display: block;
    }

    .tab-version {
        display: block;
    }

    .navbar-brand {
        margin-left: 45%;
    }

    .toggle-btn {
        margin-left: -120%;
        border: none;
    }

    .account {
        margin-left: -50%;
    }

    .shopping-bag {
        margin-right: 80%;
    }

    .search {
        display: none;
    }

    .shuffle {
        display: none;
    }

    .heart {
        display: none;
    }

    .setting {
        display: none;
    }

    .footer-form input {
        width: 500px !important;
    }

    .form-btn {
        right: 60px;
    }

    #sm-font-change {
        display: none;
    }

    .h5 {
        font-size: 14px;
    }

    .foot-social .social {
        padding-top: 10px;
        padding-left: 40%;
        padding-bottom: 2%;
    }
}

@media screen and (min-width:425px) and (max-width:767px) {
    .form-control {
        max-width: 415px !important;
    }

    .navbar-brand {
        margin-left: 35%;
    }

    .navbar {
        justify-content: center;
        background-color: white;
        box-shadow: 0px 2px 4.85px 0.15px rgba(0, 0, 0, 0.1);
    }

    .shop .row {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn {
        margin-left: -120%;
        border: none;
    }

    .account {
        margin-left: -5%;
    }

    .shopping-bag {
        margin-right: 5%;
    }

    .tab-version {
        margin-left: 0% !important;
    }

    .shop img {
        width: 300px !important;
    }

    .tab-setting {
        display: block;
    }

    .tab-version {
        display: block;
    }

    .account {
        display: block;
    }

    .search {
        display: none;
    }

    .shuffle {
        display: none;
    }

    .heart {
        display: none;
    }

    .setting {
        display: none;
    }

    .section2{
        padding: 0 25px;
        padding-bottom: 25px;
    }

    .footer-form .form-btn {
        right: -25px;
    }

    .foot-anchor .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .h5 {
        font-size: 12px;
    }

    .foot-social .social {
        padding-top: 8px;
        padding-left: 22%;
        padding-bottom: 5%;
    }

    .footer .payment {
        margin-left: 25% !important;
    }

    footer .copyright {
        padding-bottom: 5%;
    }

    #sm-font-change {
        display: none;
    }
}

@media screen and (min-width:1440px) and (max-width:2560px) {
    .shop-dropdown {
        width: 1300px !important;
        position: absolute;
        top: 100%;
        left: -450% !important;
    }

    .shop img {
        width: 550px !important;
    }
}